*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Playfair Display", serif;
}

main{
    margin: 2rem;

}

h1{
    text-align: center;
}

.wrapper{
    counter-reset: number;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0;
}

.container{
    box-shadow: 0px 0px 20px powderblue;
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 300px;
    margin: 0 0.5rem 4rem;
    background: white;
    text-align: center;
    position: relative;
}

.container::before{
    counter-increment: number;
    content: counter(number);
    width: 4rem;
    height: 4rem;
    background: cyan;
    position: absolute;
    display: block;
    border-radius: 50%;
    top: -2rem;
    left: 7.4rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
}

.title{
    margin: 2rem 0 1rem 0;
}